body {
  background-color: rgb(189, 189, 189);
}

header {
  background-color: rgb(245, 206, 206);
}

.page-container {
  padding: 25px;
  background-color: rgb(235, 235, 235);
}

.navpanel {
  max-width: 200px;
  margin: 200px 35px;
  padding: 25px;
}

.docContent {
  padding-left: 300px;
}

.scrollspy-example :first-child::before {
  height: 225px;
  content: "";
  display: block;
}

.depList :first-child::before {
  height: auto;
  content: "";
  display: block;
}
.endpointsList :first-child::before {
  height: auto;
  content: "";
  display: block;
}
.endpoints {
  background-color: white;
  margin: 15px;
}
h5 {
  text-decoration: underline;
}
h6 {
  text-decoration: underline;
}
table {
  margin: 15px;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.centered{
  display: flex;
	align-items:center;
  justify-content: left;
	min-height: 100vh;
}